In [4]:
# Mit diesem Code werden die notwendigen Programmbibliotheken importiert.

import pandas as pd
import matplotlib.pyplot as plt

# Hier werden die vorhandenen TSV (Tab Seperated Value - also durch Leerschläge werden die einzelnen Werte getrennt) eingelesen. 
# Es handelt sich dabei um die Daten b1, b5 und b6. Diese beinhalten alle Beiträge der Jahre 1911 und 1915.

jobs_b1 =  pd.read_table ('C:/Users/dkilc/OneDrive - Universitaet Bern/Neu/Desktop/Studium/DH_WORK/Telefonbuch/b1.tsv')
jobs_b5 =  pd.read_table ('C:/Users/dkilc/OneDrive - Universitaet Bern/Neu/Desktop/Studium/DH_WORK/Telefonbuch/b5.tsv')
jobs_b6 =  pd.read_table ('C:/Users/dkilc/OneDrive - Universitaet Bern/Neu/Desktop/Studium/DH_WORK/Telefonbuch/b6.tsv')

# Mit diesem Code werden alle Einträge in der Spalte "Year" durchsucht und bloss jene herausgefiltert, die zwischen den Jahren 1911 und 1915 liegen.

jobs_b1_11to15 = jobs_b1[(jobs_b1['Year'] >= 1911) & (jobs_b1['Year'] <= 1915)]
jobs_b5_11to15 = jobs_b5[(jobs_b5['Year'] >= 1911) & (jobs_b5['Year'] <= 1915)]
jobs_b6_11to15 = jobs_b6[(jobs_b6['Year'] >= 1911) & (jobs_b6['Year'] <= 1915)]

# Nun werden all diese Einträge zwischen 1911 und 1915 in einem Datensatz zusammengefasst.

jobs_1911_to_1915 = pd.concat([jobs_b1_11to15, jobs_b5_11to15, jobs_b6_11to15], ignore_index=True)

In [5]:
# Dieser Code zählt alle Einträge des oben genannten Datensatzes in der Spalte "Supplement", welche die Zusatzangaben und meistens auch die Berufsbezeichnungne sind, aus
# und ordnet sie nach ihrer auftretenden Häufigkeit. Jedoch sieht man, dass die Menschen damals frei waren in diese Spalte zu schreiben, was sie möchten.Es können also selbstgewählte Berufstitel sein, jedoch kommen auch
# Zahlen, Andreden, Titel, Strassennamen uvm. vor.
# Es werden die 50 häufigsten Resultate angezeigt.

print("Top 50: 1911-1915")

print(jobs_1911_to_1915["Supplement"].value_counts().head(50))

Top 50: 1911-1915
Metzger            2136
Dr. med.           1748
Bäckerei           1084
Wohnung            1057
Architekt           737
Baugeschäft         679
Wirt                633
Baumeister          609
Tierarzt            574
Metzgerei           557
Ingenieur           554
Zahnarzt            526
2                   505
Mme                 477
1                   466
Weinhandlung        462
Fuhrhalter          462
boucher             443
Kaufmann            441
4                   433
Buchdruckerei       420
Arzt                415
3                   413
Handlung            401
Wohng.              398
Notar               397
Bureau              378
négociant           353
Bäcker              352
Broderies           348
Viehhändler         345
5                   344
Spenglermeister     342
Malermeister        330
Pfarrer             328
Bäckermeister       327
Tapezierer          317
6                   314
Telegraphenbur.     312
8                   288
Eisenhandlung       262
Coiffeur            259
Bauunternehmer      259
notaire             257
Handelsgärtner      257
Dr.                 255
7                   254
Wirtschaft          253
Grand’Rue           252
Hebamme             247
Name: Supplement, dtype: int64

In [6]:
# Dieser Code liest die Daten aus den TSV b2 und b4 ein. b5 und b6 sind bereits im oberen Teil eingelesen worden.

jobs_b2 =  pd.read_table ('C:/Users/dkilc/OneDrive - Universitaet Bern/Neu/Desktop/Studium/DH_WORK/Telefonbuch/b2.tsv')
jobs_b4 =  pd.read_table ('C:/Users/dkilc/OneDrive - Universitaet Bern/Neu/Desktop/Studium/DH_WORK/Telefonbuch/b4.tsv')

# Nun werden die Files b2, b4, b5 und b6  in der Spalte "Year" nach Einträgen durchsucht, die Werte zwischen den Jahren 1936 und 1940 besitzten.
# Es gäbe auch noch 1936-1940 Daten in den Files c1, c2, c3, c5 und c6 - da sind die TSV aber anders aufgebaut bzw. anders indiziert, weswegen dieser Code und dadurch der Vergleich nicht funktionieren würde.

jobs_b2_36to40 = jobs_b2[(jobs_b2['Year'] >= 1936) & (jobs_b2['Year'] <= 1940)]
jobs_b4_36to40 = jobs_b4[(jobs_b4['Year'] >= 1936) & (jobs_b4['Year'] <= 1940)]
jobs_b5_36to40 = jobs_b5[(jobs_b5['Year'] >= 1936) & (jobs_b5['Year'] <= 1940)]
jobs_b6_36to40 = jobs_b6[(jobs_b6['Year'] >= 1936) & (jobs_b6['Year'] <= 1940)]

# Hier werden die alle Daten, die in der Spalte "Year" einen Wert zwischen 1936 und 1940 besitzen, zu einem Datensatz zusammengefasst.

jobs_1936_to_1940 = pd.concat([jobs_b2_36to40, jobs_b4_36to40, jobs_b5_36to40, jobs_b6_36to40], ignore_index=True)

In [7]:
# Dieser Code zählt alle Einträge des oben genannten Datensatzes in der Spalte "Supplement", welche die Zusatzangaben und meistens auch die Berufsbezeichnungne sind, aus
# und ordnet sie nach ihrer auftretenden Häufigkeit. Es werden die 50 häufigsten Resultate angezeigt.

print("Top 50: 1936-1940")

print(jobs_1936_to_1940["Supplement"].value_counts().head(50))

Top 50: 1936-1940
Mme                         1541
Kfm.                        1073
Lehrer                       834
Metzgerei                    763
Landwirt                     735
Bäckerei                     727
Mlle                         686
Handlg.                      669
Landw.                       619
station téléph. publique     611
Ing.                         504
agric.                       457
négt                         444
Metzger                      438
entrepr.                     430
appart.                      430
représ.                      409
Viehhändler                  373
ing.                         353
Herren- u. Damensalon        337
Kaufmann                     308
Post u. Telegraph            308
Handlung                     306
Prokurist                    303
Bäckerei-Konditorei          296
Arch.                        293
boul.-pâtiss.                292
Pfarrer                      291
bouch.                       278
2                            275
prof.                        275
Architekt                    275
Vve                          269
Malermeister                 267
Wohng.                       264
épie.                        262
Baugeschäft                  262
arch.                        250
1                            237
Chemiker                     231
Notar                        227
mech. Schreinerei            224
Fabrikant                    223
Vertr.                       220
Hebamme                      220
A.                           219
Bankbeamter                  216
Vertreter                    213
Direktor                     212
past.                        209
Name: Supplement, dtype: int64

In [15]:
# Dieser Code zählt wiederum die Spalte "Supplement" im Datensatz zwischen 1911 und 1915 nach der Häufigkeit aus.

counts_1911_to_1915 = jobs_1911_to_1915["Supplement"].value_counts()

# Dieser Code tut dasselbe für den Datensatz zwischen 1936 und 1940.

counts_1936_to_1940 = jobs_1936_to_1940["Supplement"].value_counts()

# Mit diesem Code werden nun die beiden Datesätze verglichen und bloss die jene Einträge, die bloss im Datensatz 1911-1915 oder im Datensatz 1936-1940 vorkommen, 
# bleiben jeweils übrig. Dieser Vergleich zeigt auf, welche Einträge bloss in der Spanne 1911-15 und 1936-40 vorkamen. Sprich, wenn ein Beruf bloss im Datensatz 1911-15
# vorkommt, kann man ihn als 'verschwunden' ansehen. Kommt er bloss im Datensatz 1936-40 vor, kann man ihn als 'aufgetaucht' ansehen.

unique_to_1911_to_1915 = counts_1911_to_1915.index.difference(counts_1936_to_1940.index)
unique_to_1936_to_1940 = counts_1936_to_1940.index.difference(counts_1911_to_1915.index)

# Nun werden diese Werte, die bloss im entweder  einen oder anderen Datensatz vorkommen, angezeigt.

print("Einzigartige Einträge im Datensatz jobs_1911_to_1915:")
print(unique_to_1911_to_1915)

print("\nEinzigartige Einträge im Datensatz jobs_1936_to_1940:")
print(unique_to_1936_to_1940)

Einzigartige Einträge im Datensatz jobs_1911_to_1915:
Index([' Bellevue»', ' Bezirkstierarzt, z. Frohberg',
       ' Tuch- und Mass geschäft, Bahnhofstr.', ' Wirtschaft z. Ochsen, Hofen',
       ' Wohnung', ' porcelaines, r. du Rhône', '!)' prof, à l’Université',
       '!.) prof, à l’Université', '!.. grains et farines', '!_',
       ...
       '„Pik-Pik“-Fabrikat.', '„Rheinfelder Bierhalle“', '„Schönau“',
       '„Tannengut“, Fisibach',
       '„Tassametri luganesi“, garage, Cassarate, Campo Marzio', '„Tota“',
       '„Volksstimme von Baselland“', '„Waldhaus“',
       '„Waldhiisli“. Oristhalstrasse', '„Waldhüsli“'],
      dtype='object', length=82876)

Einzigartige Einträge im Datensatz jobs_1936_to_1940:
Index([' Hebamme', ' Lucciola', ' Spezereihdlg. u. Velos-Reparaturwerkstätte',
       ' r. d’Italie, 9', '!' secrét. Départ. Instruction Publique',
       '!' secrét. chancellerie Etat',
       '&. Cie., Baumaterial-, Holzund Eisenhandlung',
       '&. Co., Polstergestellfabr.',
       '&. Walser, Polstergestellfabrik, Hammerstr. 102', '&.M., Alpenrose',
       ...
       '„im Gruene“', '„im Gärtli“, Tannacker', '„im Mätteli“',
       '„in der Rütti“', '„ufem Blatti“', '„uiem Blatti ',
       '„z. durstigen Wanderer“',
       '„zur Schreibmaschine“, im Herzoggut 9 (regulär anwesend: vormittags IO—12 Uhr) .',
       '„Örfina“', '„ülmenberg“'],
      dtype='object', length=133400)